<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
      integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <title>인증</title>
  </head>
  <body>
    <input id="code" placeholder="인증번호를 입력해주세요." />
    <button onclick="checkCode()">확인</button>
    <p id="confirm"></p>
    <script>
      async function checkCode() {
        const code = document.getElementById("code").value;
        const baseURI = "<%= BASE_URI %>";
        const userid = "<%= userid %>";
        const token = "<%= token %>";
        try {
          const result = await axios.post(`${baseURI}/api/auth`, {
            userid,
            token,
            code,
          });

          alert("인증이 완료되었습니다. 사이트에서 로그인 해주세요.");
        } catch (e) {
          alert("코드가 잘못 되었거나 시간이 만료되었습니다.");
        }
      }
    </script>
  </body>
</html>
